*{margin: 0;}

*{box-sizing: border-box;}


          /*--------------------   Header   ------------------------------*/

.container{ display: grid;
            grid-template-columns: repeat(12, auto);
            grid-template-rows: 200px, 80px;
            background-color: #3197D6;

}

.mainLogo{ grid-column: 2 / 6;
           /*border: 2px solid black;*/

}

#logoTop{}


img { max-width:100%;}

#title{ grid-column: 10 / 13;
        margin: auto;
        /*border: 2px solid black;*/
        height: 12rem;
        padding-top: 4rem;
        font-size: 26px;
        font-family: 'Courier New', Courier, monospace;


}
.menu{ grid-column: 1 / -1;
       grid-row: 2 / 3;
       background-color: #A8DADC;

}
h1{ text-align: center;
    color: #FFA64A;

}


nav{ /*width: 100%;
    border: 2px solid red;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    float: center;
    
    

}
nav a{ display: inline-block;
       float: left;
       width: 14.2%;
       height: 50px;
       border: 3px solid black;
       text-decoration: none;
       color: #E63946;
       padding: 4px 4px 4px 4px;
       margin: auto;
       text-align: center;
       
}
nav a:hover { background-color: #EFE2B3;
              color: #AA1958;

}

html{ background-color: #D9ECE9;

}

.navigation{ /*border: 2px black solid;*/
                 background-color: #3aaac9;

     }
.icon{display: none;}


        /*--------------------   Main   ------------------------------*/

main{ 
}

.mainTitle{   padding-top: 1.9rem;
                border: 3px solid black;
                text-align: center;
                border-radius: 20px;
                box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                width: 80%;
                height: 100px;
                margin: 2rem 1rem 2rem 9rem;
                background-color: white;



}

.galleryMain{  padding-top: 1.9rem;
                border: 3px solid black;
                text-align: center;
                border-radius: 20px;
                box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                width: 80%;
                height: 600px;
                margin: 2rem 1rem 2rem 9rem;
                background-color: white;

}


main {  
        width: 100%;
      }
	  
.picTitle 
  {  width: 100%;
     /*border: 2px solid red;*/
	 font-size: 2em;
	 /*height: 25px;*/
     /*display: block;*/
     text-align: center;
  }
	  
.picSlides
  {  
     display:block;
     text-align:center;
	 
  }
.picLink
   {  display: inline-block;
      width: 100%;
	  
      /*float: center;*/
      text-align: center;
	  align-self: center;
  }	  
 
.smallPic 
  {  width: 100%;
	 text-align:center;
   }

.smallPic .img {  width: 80px;
                  height: 60px;
              }  

/* Next & previous buttons */

.prevNext
  {  text-align:center; 
  }

.prev
  {  float:left;
     width: 40%;
     text-align:right;
     pading-right: 25px;
   } 

.next
  {  float:left;
     width: 40%;
     text-align:left;
     pading-left: 25px;
   } 

.next
 {   right: 0;
     border-radius: 3px 0 0 3px;
 }

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover 
  {  background-color: red;
  }


         /*--------------------   Footer   ------------------------------*/


footer{ /*margin-top: 3rem;*/

}

.footDiv{ display: flex;
          flex-direction: row;
          background-color: #FFA64A;
          height: 220px;
          margin: auto;
          column-gap: 3rem;

}

.bottomLogo{ height: 8rem;
             width: 20rem;
             /*border: red 3px solid;*/
             padding: 1rem;

}

#logoBottom{ height: 12rem;
             width: 18rem;

}

.infoOne{ /*border: #AA1958 2px solid;*/
          color: #0B5B9F;
          padding-top: 1.5rem;
          width: 20rem;
          text-align: center;

}
.infoOne p a{ text-decoration: none;
              color: #0B5B9F

}

.infoTwo{ /*border: #E63946 2px solid;*/
          width: 300px;
          padding-top:  10px;
}

h3 { font-weight: bold;
     text-align: center;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #a40f25;
  color: white;
}
.fa-youtube {
  background: #c90606;
  color: white;
}
span{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: #a40f25;
}

.infoThree{ /*border: #a40f25 2px solid;*/
            width: 300px;
            padding-top:  10px;

}


                       /*--------------------   Media   ------------------------------*/
                  

                         /*--------------------   Tablet View   ------------------------------*/

@media screen and (max-width: 1300px)
{
  .mainTitle{ width: 90%;
              margin: auto;
              margin-bottom: 2rem;
              margin-top: 2rem;

  }
  .galleryMain{ width: 90%;
               margin: auto;
               margin-bottom: 2rem;
               height: auto;

  }
  
                          /*--------------------   Footer   ------------------------------*/

 .bottomLogo{display: none;}

}

@media (max-width: 600px) 
{
   .mainLogo{display: none;}
   .menu{/*border: 2px solid black;*/
        }
   nav a{display: flex;
        flex-direction: column;
        float: left;
        width: 100%;
       height: 40px;
       border: 1px solid black;
       text-decoration: none;
       color: #E63946;
       padding: 4px 4px 4px 4px;
       margin: auto;
       text-align: center;
       vertical-align: middle;
        
       }
    .nav a{ width: 100%;
          width: 100%}

    .navigation{ /*border: 2px black solid;*/
                 background-color: #3aaac9;

     }
     .icon{display: block;}







   .barImg{ width: 95%;
         height: 35%;
         padding: 1rem;
         margin-left: 0.8rem;
         float: center;}
    .introTwo{ float: center;}

    .introText{
              width: 95%;
              margin: -0.5rem 0rem 0rem 1rem;
              text-align: left;
              }

    .title3{margin: 90rem 0.5rem 0.5rem 1.3rem;
            width: 90%;}


  .cocktails {flex-direction: column;
              padding: 0;}

  .coffe, .pina, .pstar, .pisco, .history, .equip, .ingredients, .spirits
  {width: 90%;
   margin: 1rem 0rem 0.4rem 1rem;}
   .coffe, .pina, .pstar, .pisco, .history, .equip, .ingredients, .spirits p
   {font-size: 25px;}

   .title4{ margin: 1rem 0.5rem 0.5rem 1.3rem;
            width: 90%;}


    /*Footer*/

    .footDiv{flex: 50%}
    .infoOne{/*border: 2px solid black;*/
             width: 35%;
             font-size: 16px;
             margin-left: 1rem;
             
            }
    .bottomLogo{display: none;}
    .infoTwo{  padding: 0px;
               /*border: 2px solid black;*/}
    .infoThree{padding: 0px;
               /*border: 2px solid black;*/
               margin-right: 3rem;}
    .infoTwo span{display: none;}
    .infoThree span{display: none;}


}

